{% extends "base.html" %}
{% block content %}
<h1>Projects</h1>


<p><b>myWebsite:</b></p>
<p>My Personal Website Created Using The Django Platform </p>
<p>Temporarily deployed at:</p>
<p><a href="http://danshfaim.pythonanywhere.com/">http://danshfaim.pythonanywhere.com/</a></p>
<a href="https://github.com/DanShfaim/myWebsite" target="_blank"><button type="button" class="btn btn-default btn-sm">Watch GitHub Repository</button></a>

<br>
<br>

<p><b>AIDentist-Teeth-Decoader:</b></p>
<p>We planned a smart system which is trained by a neural network(R/CNN), to assist dentists in making medical decision.</p>
<p>The AI system receives dental x-rays which are taken in the clinic.</p>
<p>Because professional dentists are not always able to recognize teeth defects the system propose is to assist in detecting caries bone and calculus within a few seconds.</p>

<a href="https://github.com/DanShfaim/AIDentist-Teeth-Decoader/raw/master/AIDentist_Poster.jpg">
    <img src="https://github.com/DanShfaim/AIDentist-Teeth-Decoader/raw/master/AIDentist_Poster.jpg?raw=true" alt="Poster" height="300" width="200">
</a>
<a href="https://github.com/DanShfaim/AIDentist-Teeth-Decoader/raw/master/GUI%20screenshot.png?raw=true">
    <img src="https://github.com/DanShfaim/AIDentist-Teeth-Decoader/raw/master/GUI%20screenshot.png?raw=true" alt="GUI" height="200" width="300">
</a>
<br><br>
<a href="https://github.com/DanShfaim/AIDentist-Teeth-Decoader" target="_blank"><button type="button" class="btn btn-default btn-sm">Watch GitHub Repository</button></a>




{% endblock %}